<html>
  <body>
    <div
      style='background-color:#F2F5F7;color:#242424;font-family:"Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;font-size:16px;font-weight:400;letter-spacing:0.15008px;line-height:1.5;margin:0;padding:0;min-height:100%;width:100%'
    >
      <table
        align='center'
        width='100%'
        style='margin:0 auto;max-width:600px;background-color:#FFFFFF'
        role='presentation'
        cellspacing='0'
        cellpadding='0'
        border='0'
      >
        <tbody>
          <tr style='width:100%'>
            <td>
              <div style='padding:24px 24px 24px 24px;text-align:left'>
                <a
                  href=''
                  style='text-decoration:none'
                  target='_blank'
                ><img
                    alt='App Logo'
                    src='https://i.ibb.co/XyPmbTV/462564989-604615045584673-4156906424773642214-n.jpg'
                    width='60'
                    height='60'
                    style='width:60px;height:60px;outline:none;border:none;text-decoration:none;vertical-align:middle;display:inline-block;max-width:100%'
                  /></a>
              </div>
              <div style='font-weight:normal;padding:0px 24px 16px 24px'>
                Hi
               <b>{{username}}</b>
                🎉🎉🎉,
              </div>
              <div style='font-weight:normal;padding:0px 24px 16px 24px'>
                Welcome to our website, glad you choose it. Now, let&#x27;s start
                discovering interesting things
              </div>
              <div style='font-weight:normal;padding:16px 24px 16px 24px'>
                If you ever need help, just reply to this email and one of us
                will get back to you shortly. We’re here to help.
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>